<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
  <title>World Cup Ranker</title>
  <link rel="icon" type="image/png" href="/assets/icons/favicon.png"/>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
</html>
